name: Docker

on:
  schedule:
    - cron: '30 20 * * Sun'
  push:
    branches: ["*"]
    tags: ["v*.*.*"]
  pull_request:
    branches: ["master", "main"]
  release:
    types: [published]
  workflow_dispatch:

env:
  REGISTRY: docker.io

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - dockerfile: ./Dockerfile
            flavour: ""
          - dockerfile: ./Dockerfile.alpine
            flavour: "-alpine"
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Fetch the ipinfo database file using curl if API key is defined
      - name: Fetch DB from ipinfo.io
        run: |
          if [ -z "${{ secrets.IPINFO_APIKEY }}" ]; then
            echo "Warning: IPINFO_APIKEY is not defined."
          else
            curl -L https://ipinfo.io/data/free/country_asn.mmdb?token=${{ secrets.IPINFO_APIKEY }} -o backend/country_asn.mmdb
          fi

      # Set up QEMU for multi-arch builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # Set up BuildKit Docker container builder
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login against Docker Hub
      - name: Log into Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Extract metadata (tags, labels) for Docker
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/speedtest
          tags: |
            type=ref,event=branch,suffix=${{ matrix.flavour }}
            type=ref,event=pr,suffix=${{ matrix.flavour }}
            type=raw,value=latest${{ matrix.flavour }},enable={{is_default_branch}}
            type=semver,pattern={{version}}${{ matrix.flavour }}
            type=semver,pattern={{major}}${{ matrix.flavour }}
            type=semver,pattern={{major}}.{{minor}}${{ matrix.flavour }}
            type=semver,pattern={{major}}.{{minor}}.{{patch}}${{ matrix.flavour }}

      # Build and push Docker image with Buildx
      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max